<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fly.zx.dao.UserDao">

	<resultMap id="BaseResultMap" type="com.fly.zx.model.User">
		<id column="create_time" property="createTime" />
		<id column="id" property="id" />
		<id column="last_login_time" property="lastLoginTime" />
		<id column="mail" property="mail" />
		<id column="password" property="password" />
		<id column="state" property="state" />
		<id column="user_name" property="userName" />
	</resultMap>
	<sql id="Base_Column_List">
		create_time, id, last_login_time, mail, password, state, user_name
	</sql>
	
</mapper>